

.commentbtn{
  font-family: 'Jost' Tahoma, sans-serif;
  font-weight: 600;
  background-color: #AD1FEA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 13px;
  margin-top: 25px;
  position: absolute;
  bottom: 20px;
  left: 570px;

}

.commentbtn:hover{
  background-color: #AD1FEA;
  border: none;

}

.Form--elements{
  position: absolute;
  background-color: #fff;
  color: #333;
  font-family: 'jost';
  width: 830px;
  display: flex;
 justify-content: center;
  align-items: center;
  height: 246px;
  left: 455px;
 padding-top: 55px;
 border-radius: 15px;
 font-family: 'jost' sans-serif;

 
}

.comment--Label{
  position: absolute;
  bottom: 185px;
  left:56px;
  font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
letter-spacing: -0.25px;
color: #3A4374;
}

.comment--box{
  position: absolute;
left: 4.66%;
right: 4.38%;
top: 30.08%;
bottom: 37.4%;
}

.comment--direction{
  position: absolute;
  height: 22px;
  left: 4.66%;
  right: 79.18%;
  top: calc(50% - 22px/2 + 69px);
  
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  
  
  color: #647196;


}