.FeedbackActive--Container{
  width: 540px;
 height: 822px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  margin-left: 440px;
  margin-top: 70px;
  }
  
  .Feedbackimage{
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  margin-left: 30px;
  margin-bottom: 15px;
  position: relative;
  bottom: 30px;
  }
  
  .FeedbackHeader{
    color: #3A4374;
    font-size: 24px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.333px;
    margin-left: 40px;
    
  
  
  }
  
  .Title{
  color: #3A4374;
  font-size: 14px;
  font-family: 'Jost' ;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.194px;
  margin-left: 40px;
  margin-top: 10px;
  
  
  }
  
  .FeedbackDesc{
    color: #647196;
  font-size: 14px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  margin-top: 10px;
  
  
  }
  .Title--input{
  width: 456px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #F7F8FD;
  border: none;
  margin-left: 40px;
  margin-top: 10px;
  
  
  }
  
  .Feedback--comment{
    width: 456px;
  height: 96px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #F7F8FD;
  margin-left: 40px;
  margin-top: 10px;
  border: none;
  
  }
  
  .Removefeedbtn{
    width: 93px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3A4374;
    color: #FFF;
    font-family: 'jost';
    cursor: pointer;
    border: none;
  
  }
  
  .AddFeedbackbtn{
  width: 144px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #AD1FEA;
  color: #FFF;
  font-family: 'Jost';
  cursor: pointer;
  margin-left: 13px;
  border: none;
  
  
  }

  .Delete--btn{
    width: 93px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: red;
    color: #FFF;
    font-family: 'Jost' ;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 850px;
  }
  
  .Feedback--btns{
    margin-top:25px;
  margin-left: 230px;
  }
  
  
  .Select--category{
  width: 456px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #F7F8FD;
  margin-left: 40px;
  border: none;
  
  }
  
  select {
  
    /* styling */
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    font-family: 'Jost' ;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
  }
  
  select.Select--category{
    background-image:url(../Assets/shared/icon-arrow-down.svg);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  
  } 

 
  
  

  ::placeholder	{
color: #3A4374;
font-family: 'Jost' ;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .error {
    border-color: red;
  }
  

  .Error--msg{
    font-family: "Jost";
    font-size: 12px;
    color: red;
    font-weight: 600;
    margin-left: 43px;
    
    }
  
/* all media quries goes here */

@media(max-width:1194px){
  .FeedbackActive--Container{
    margin-left: 140px;
    margin-bottom: 30px;
  }

  .Delete--btn{
    position: absolute;
   right:  490px;
  }

}

  /* media queries for tablets */

  @media(max-width: 768px){
    .FeedbackActive--Container{
      margin-left: 120px;
      margin-bottom: 30px;
    }


    .Delete--btn{
      position: absolute;
     right:  450px;
    }
  }


  @media(max-width:480px){
    .FeedbackActive--Container{
      width: 327px;
      height: 893px;
      flex-shrink: 0;
      margin-left: 30px;
    }

    .FeedbackHeader{
      display: flex;
width: 280px;
flex-direction: column;
flex-shrink: 0;
color: #3A4374;
font-size: 18px;
font-family: 'Jost';
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.25px;
    }

    .Title--input{
      width: 279px;
height: 48px;
flex-shrink: 0;
    }

    .Feedback--comment{
      width: 279px;
height: 120px;
flex-shrink: 0;
    }

 
    .Select--category{

      width: 279px;
      height: 48px;
      flex-shrink: 0;
    }

    .Feedback--btns{
      position: relative;
      margin-left: 50px;
      width: 100%;
    }
    .Removefeedbtn{
      position: absolute;
      width: 279px;
      height: 40px;
      flex-shrink: 0;
      margin-left: -15px;
      top: 45px;

    }

    .AddFeedbackbtn{
      position: absolute;
      width: 279px;
      height: 40px;
      flex-shrink: 0;
      margin-left: -15px;
      
    }

    .Delete--btn{
      position: absolute;
      width: 279px;
      height: 40px;
      flex-shrink: 0;
      right: 65px;
      top: 90px;

    }

    
  }