

.navbtn{
  font-family: 'Jost' Tahoma, sans-serif;
  font-weight: 600;
  background-color: #AD1FEA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 13px;
  margin-top: 25px;
  position: relative;
bottom: 12px;
}


.navbtn:hover{
  background-color: #AD1FEA;
  border: none;

}

.Move--Links{
  position: absolute;
  left: 230px;
  bottom: 70px;
  color: #fff;
}
.Nav--Postion{
position: absolute;
width: 1050px;
 right: 50px;
bottom: 680px;
border-radius: 15px;
color: #fff;
background-color: #373F68;

}
.Navigation--text{
font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;

letter-spacing: -0.25px;
}


/* Responsive CSS for tablet */
@media (max-width: 768px) {
  .Move--Links {
    left: 200px;
    bottom: 55px;


  }

  .Nav--Postion {
    width: 95%;
    left: 15px;
    right: unset;
    bottom: 690px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
.navbtn{
  font-size: 13px;
font-family: 'Jost';
font-weight: 700;
color: #fff;
line-height: 19px;
height: 44px;
}
 
}

/* Responsive CSS for mobile devices */
@media (max-width: 480px) {
  .Move--Links {
    position: absolute;
    left: 60px;
    bottom: 80px;
    
  }

  .Nav--Postion {
    position: relative;
    bottom: 60px;
    width: 100%;
    right: unset;
    bottom: 52px;
    padding: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .Navigation--text {
    display: none;
  }
  .navbtn{
position: relative;
bottom: 130;
left: 235px;
padding: 12px 12px;
font-size: 13px;
font-family: 'Jost';
font-weight: 700;
color: #fff;
line-height: 19px;

}
.navbtn:hover{
  background-color: #AD1FEA;
  border: none;

}
.Navigation--text2{
  position: relative;
  top: 34px;
  right: 45px;
}
}

