.userData{
  background: #fff;
  max-width: 730px;
  position: relative;
  left: 450px;
  border-radius: 13px;
  padding-top: 50px;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.user--image{
  position: relative;
  width: 60px;
  border-radius: 50%;
  bottom: 30px;
  margin-top: 20px;
  padding: 10px;
}
.user--info{
  position: absolute;
  left: 100px;
  font-family: 'Jost' ;
  font-size: 5px;
  line-height: 2px;
}

.commentData{
padding: 20px ;

}

.commentLink{
  position: relative;
  left: 500px;
font-family: 'Jost' ;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 19px;
text-decoration-line: underline;

color: #4661E6;
}
h5{
  position: relative;
  font-size: 15px;
  bottom: 70px;
}

.name{
  font-family: 'Jost' ;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.194444px;
 color: #3A4374;
  
}

.userName{
  font-family: 'Jost' ;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
color: #647196;
}

.post--content{
  display: flex;
  width: 594px;
font-family: 'Jost' ;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #647196;
margin-left: 70px;
flex-direction: column;
flex-shrink: 0;

}

.Replies-comment{
  display: flex;
  width: 549px;
  flex-direction: column;
  flex-shrink: 0;
  color: #AD1FEA;
 font-size: 15px;
  font-family: 'Jost' ;
 font-weight: 700;
 margin-left: 30px;
}

.Num--comment{
  font-family: 'Jost' ;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #3A4374;
  margin-left: 30px;
  margin-bottom: 50px;

}

.ReplyingTo{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #AD1FEA;
}

.new--comment{
  background: #fff;
  width: 730px;
  position: relative;
  left: 450px;
  border-radius: 13px;
  padding-top: 50px;
  margin-top: 20px;
}

/* .new-post-content{
  background: #fff;
  width: 730px;
  position: relative;
  left: 450px;
  border-radius: 13px;
  padding-top: 50px;
  margin-top: 20px;
} */


/* All media queries for Postlist section */

@media(max-width: 1194px){
  .userData{
    position: relative;
   max-width: 720px;
   width: 100%;
   overflow: hidden;
    height: auto;
    flex-shrink: 0;
      margin-top: 130px;
      left: 60px;
      bottom: 35px;
  }
  

}


/* @media quries for tablets */

@media (max-width: 768px){
  .userData{
    position: relative;
   max-width: 689px;
   overflow: hidden;
  height: auto;
  flex-shrink: 0;
  width: 100%;
    margin-top: 130px;
    left: 30px;
    bottom: 35px;
  }
  
  .post--content{
      display: flex;
    width: 553px;
    flex-direction: column;
    flex-shrink: 0;
    color: #647196;
    font-size: 13px;
    font-family: 'Jost' ;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
  }
  
  .commentLink{
    color: #4661E6;
  font-size: 13px;
  font-family: 'Jost';
  font-weight: 600;
  position: absolute;
  left: 550px;
  }
  .user--image{
    width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  
  }
  
  .name{
    color: #3A4374;
    font-size: 14px;
    font-family: 'Jost' ;
    font-weight: 700;
    letter-spacing: -0.194px;
  }
  .userName{
    color: #647196;
    font-size: 14px;
    font-family: 'Jost' ;
  
  }
  /* .new-post-content{
    width: 95%;
    position: absolute;
    left: 20px;
  } */
  
  } 
  .hidden {
    display: none;
  }


/* Responsive CSS for mobile devices */

@media (max-width: 480px) {
  .userData {
    max-width: 327px;
    width: 100%;
    overflow: hidden;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
  }
  .post--content {
    display: flex;
    width: 280px;
    flex-direction: column;
    color: #647196;
    font-size: 13px;
    font-family: 'Jost';
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
    margin-left: 0;
  }
 
  

  .user--info {
    margin: 0;
    padding: 0;
    margin-right: 30px;
  }

  .user--image {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
  }

  .name {
    color: #3A4374;
    font-size: 13px;
    font-family: 'Jost';
    font-weight: 700;
    letter-spacing: -0.181px;
  }

  .userName {
    color: #647196;
    font-size: 13px;
    font-family: 'Jost';
  }

  .Replies-comment {
    display: flex;
    width: 256px;
    flex-direction: column;
    flex-shrink: 0;
    color: #AD1FEA;
    font-size: 13px;
    font-family: 'Jost' ;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .commentLink {
    color: #4661E6;
    font-size: 13px;
    font-family: 'Jost';
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    position: absolute;
    left: 270px;
  }



  /* .new-post-content {
    width: 90%;
    position: relative;
    left: 20px;
  } */

  .Num--comment {
    color: #3A4374;
    font-size: 18px;
    font-family: 'Jost';
    font-weight: 700;
    letter-spacing: -0.25px;
  }
}
