.userData{
  background: #fff;
  width: 825px;
  position: relative;
  left: 450px;
  border-radius: 13px;
  padding-top: 50px;
  margin-top: 20px;
}

.user--image{
  position: relative;
  width: 60px;
  border-radius: 50%;
  bottom: 30px;
}
.user--info{
  position: absolute;
  left: 100px;
  font-family: 'jost' Arial, Helvetica, sans-serif;
  font-size: 5px;
  line-height: 2px;
}

.commentData{
padding: 20px ;

}

.commentLink{
  position: relative;
  left: 630px;

font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 19px;
text-decoration-line: underline;

color: #4661E6;
}
h5{
  position: relative;
  font-size: 15px;
  bottom: 70px;
}

.name{
  font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.194444px;
 color: #3A4374;
  
}

.userName{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
color: #647196;
}

.post--content{
  margin-left: 10.8%;
  font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #647196;
}

.Replies-comment{
  position: relative;
  left: 30px;
  top: 20px;
}

.Num--comment{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #3A4374;
  margin-left: 30px;
  margin-bottom: 50px;

}

.ReplyingTo{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #AD1FEA;
}

.new--comment{
  background: #fff;
  width: 825px;
  position: relative;
  left: 450px;
  border-radius: 13px;
  padding-top: 50px;
  margin-top: 20px;
}





/* All media queries for Postlist section */


/* Responsive CSS for tablet */
@media (max-width: 768px) {
  .userData{
  width: 100%;
  left: 0px;
  }

  
}

/* Responsive CSS for mobile devices */
@media (max-width: 480px) {
  .userData{
 width: 100%;
  }
}
