
.Roadmap--Cards{
width: 1440px;
height: 1367px;
margin: 0 -5px;
margin-left: 165px;
margin-top: 95px;
}

.Roadmap--Cards::after{
  content: "";
  display: table;
  clear: both;

}


.Column {
  float: left;
  width: 25%;
  padding: 0 10px;
}


.Card--live{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  margin: 23px;
  border-radius: 15px;
  border-top: 6px #62BCFA solid;

}

.Card--planned{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  margin: 20px;
  border-radius: 15px;
  border-top: 8px #F49F85 solid;
}

.Card--progress{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  margin: 19px;
  border-radius: 15px;
  border-top: 8px #AD1FEA solid;
}

.section--headers{
margin-left: 30px;

}
.section--headers:hover{
 cursor: pointer;
}

.section--heading{
  color: #3A4374;
  font-size: 18px;
  font-family: 'Jost' ;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.header--content{
  color: #647196;
  font-size: 16px;
  font-family: 'Jost' ;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}


.card--title{
  color: #3A4374;
font-size: 18px;
font-family: 'Jost';
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.25px;
margin-left: 43px;
position: relative;
top: 30px;
}


.cards--description{
display: flex;
width: 286px;
flex-direction: column;
color: #647196;
font-size: 16px;
font-family: 'Jost' ;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 43px;
position: relative;
top: 35px;
}


.categories{
  display: inline-block;
  padding: 5px 10px; 
  margin-left: 5px; 
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #4661E6;
  background: #F2F4FF;
  border-radius: 12px;
  text-decoration: none;
  position: relative;
  top: 50px;
  left:27px
}


.Numb--upvotes{
  background: #F2F4FF;
  border-radius: 10px;
  padding: 6px;
  margin: 50px;
  width: 69px;
  height: 32px;
 flex-shrink: 0;
 margin-left: 43px;
position: relative;
top:65px;
}
.upvotes--icon{
  margin: 10px;
}
.card--category{
  margin-left: 34px;
  font-family: 'Jost' ;
  color: #647196;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: list-item;
  list-style-type: disc;
  position: relative;
  top: 22px;
}

.Roadmapcard--comments{

  width: 18px;
height: 16px;
flex-shrink: 0;
margin-left: 290px;
margin-top: 42px;
}





/* all media queries  */

/* bigger tablet screens  */
@media(max-width:1194px){
  .Roadmap--Cards{
    width: 768px;
    height: 1149px;
    background: #F7F8FD;
    margin: 20px;
    margin-top: 95px;

  }

  .Card--live{
    width: 223px;
    height: 251px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin: 0 120px ;
    
    
      }
    
      .Card--planned{
        width: 223px;
        height: 251px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #FFF;
    
    
      }
      .Card--progress{
        width: 223px;
        height: 251px;
        flex-shrink: 0;
        border-radius: 5px;
        background: #FFF;
        margin: 0 70px 20px;
    
      }
    
     .card--title{
      color: #3A4374;
      font-size: 13px;
      font-family:' Jost' ;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.181px;
     }
     .cards--description{
      display: flex;
    width: 183px;
    flex-direction: column;
    flex-shrink: 0;
    color: #647196;
    font-size: 13px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
     }
      .categories{
        position: relative;
        top: 30px;
        left:27px
    
      }
      .Numb--upvotes{
        position: relative;
        top:45px;
      }
    .Roadmapcard--comments{
      margin-left: 190px;
      margin-top: 20px;
    
    }
    
    .section--headers{
      width: 768px;
      
      }
    
    .section--heading{
      color: #3A4374;
    font-size: 14px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.194px;
    width: 100%;
    }
    
    .live--header{
    margin-left: 120px;
    
    }
    
    .inProgress--header{
      margin-left: 80px;
    }
    
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        justify-content: space-around;
        margin-right: 15px;
      }

}



/* Responsive columns - one column layout (vertical) on small screens */


@media (max-width: 768px) {

  .Roadmap--Cards{
    width: 768px;
    height: 1149px;
    background: #F7F8FD;
    margin: 20px;
    margin-top: 95px;

  }

  .Card--live{
width: 223px;
height: 251px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
margin: 0 120px ;


  }

  .Card--planned{
    width: 223px;
    height: 251px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;


  }
  .Card--progress{
    width: 223px;
    height: 251px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin: 0 70px 20px;

  }

 .card--title{
  color: #3A4374;
  font-size: 13px;
  font-family:' Jost' ;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.181px;
 }
 .cards--description{
  display: flex;
width: 183px;
flex-direction: column;
flex-shrink: 0;
color: #647196;
font-size: 13px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
line-height: normal;
 }
  .categories{
    position: relative;
    top: 30px;
    left:27px

  }
  .Numb--upvotes{
    position: relative;
    top:45px;
  }
.Roadmapcard--comments{
  margin-left: 190px;
  margin-top: 20px;

}

.section--headers{
  width: 768px;
  
  }

.section--heading{
  color: #3A4374;
font-size: 14px;
font-family: 'Jost';
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.194px;
width: 100%;
}

.live--header{
margin-left: 120px;

}

.inProgress--header{
  margin-left: 80px;
}

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    justify-content: space-around;
    margin-right: 15px;
  }
}




@media(max-width: 480px){
  .Roadmap--Cards{
    width: 375px;
    height: 1086px;
    background: #F7F8FD;
    margin: 20px;
    margin-top: 95px;

  }

 

  .Card--live{
width: 223px;
height: 233px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
margin: 0 120px ;


  }

  .Card--planned{
    width: 223px;
    height: 233px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;


  }
  .Card--progress{
    width: 223px;
    height: 233px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin: 0 70px 20px;

  }

 .card--title{
  color: #3A4374;
  font-size: 13px;
  font-family:' Jost' ;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.181px;
 }
 .cards--description{
  display: flex;
width: 183px;
flex-direction: column;
flex-shrink: 0;
color: #647196;
font-size: 13px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
line-height: normal;
 }
  .categories{
    position: relative;
    top: 30px;
    left:27px

  }
  .Numb--upvotes{
    position: relative;
    top:45px;
  }
.Roadmapcard--comments{
  margin-left: 190px;
  margin-top: 20px;

}

.section--headers{
  width: 768px;
  
  }

.section--heading{
  color: #3A4374;
font-size: 14px;
font-family: 'Jost';
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.194px;
width: 100%;
}

.live--header{
margin-left: 120px;

}

.inProgress--header{
  margin-left: 80px;
}

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    justify-content: space-around;
    margin-right: 15px;
  }
  

 
  .section--heading {
  width: 375px;
  padding: 20px;
  border-bottom: 1px #ccc solid;
  
}

  .header--content{
    display: none;
  }
  .section--heading:hover{
    border-bottom: 2px #0a42db solid;
    width: 100%;
  }


}