
.Roadmap--Cards{
  width: 1440px;
height: 1367px;
margin: 0 -5px;
margin-left: 165px;
margin-top: 65px;
}

.Roadmap--Cards::after{
  content: "";
  display: table;
  clear: both;

}
.Column {
  float: left;
  width: 25%;
  padding: 0 10px;
}


.Card--live{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
background: #FFF;
margin: 23px;
border-radius: 15px;
border-top: 8px #4661E6 solid;

}

.Card--planned{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  margin: 20px;
  border-radius: 15px;
  border-top: 8px #F49F85 solid;
}

.Card--progress{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
background: #FFF;
margin: 19px;
border-radius: 15px;
border-top: 8px #AD1FEA solid;
}

.section--headers{
margin-left: 30px;

}

.section--heading{
  color: #3A4374;
  font-size: 18px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.header--content{
  color: #647196;
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}


.card--title{
  color: #3A4374;
font-size: 18px;
font-family: Jost;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.25px;
margin-left: 43px;
position: relative;
top: 30px;
}


.cards--description{
 display: flex;
width: 286px;
flex-direction: column;
color: #647196;
font-size: 16px;
font-family: 'Jost' Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 43px;
position: relative;
top: 35px;
}


.categories{
  display: inline-block;
  padding: 5px 10px; 
  margin-left: 5px; 
  font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 19px;
color: #4661E6;
background: #F2F4FF;
border-radius: 12px;
text-decoration: none;
position: relative;
top: 50px;
left:27px
}


.Numb--upvotes{
  background: #F2F4FF;
  border-radius: 10px;
  padding: 5px;
  margin: 50px;
  width: 69px;
  height: 40px;
 flex-shrink: 0;
 margin-left: 43px;
position: relative;
top:65px;
}

.card--category{
  margin-left: 34px;
  font-family: 'jost' Arial, Helvetica, sans-serif;
  color: #647196;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: list-item;
  list-style-type: disc;
  position: relative;
  top: 22px;
}

.Roadmapcard--comments{

  width: 18px;
height: 16px;
flex-shrink: 0;
margin-left: 290px;
margin-top: 42px;
}




/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
