
.Roadmap--Cards{
  width: 1440px;
height: 1367px;
margin: 0 -5px;
margin-left: 165px;
margin-top: 65px;
}

.Roadmap--Cards::after{
  content: "";
  display: table;
  clear: both;

}
.Column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.Card--live{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
background: #FFF;
margin: 23px;
border-radius: 15px;
border-top: 8px #4661E6 solid;

}

.Card--planned{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  margin: 20px;
  border-radius: 15px;
  border-top: 8px #F49F85 solid;
}

.Card--progress{
  width: 350px;
  height: 272px;
  flex-shrink: 0;
  border-radius: 5px;
background: #FFF;
margin: 19px;
border-radius: 15px;
border-top: 8px #AD1FEA solid;
}

.section--headers{
margin-left: 30px;

}

.section--heading{
  color: #3A4374;
  font-size: 18px;
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.header--content{
  color: #647196;
  font-size: 16px;
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.card--title{
  color: #3A4374;
font-size: 18px;
font-family: Jost;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.25px;
}

.card--description{

  display: flex;
width: 286px;
flex-direction: column;
color: #647196;
font-size: 16px;
font-family: Jost;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.categories{
  display: inline-block;
  padding: 5px 10px; 
  margin-left: 5px; 
  font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 19px;
color: #4661E6;
background: #F2F4FF;
border-radius: 12px;
text-decoration: none;
}
.Numb--upvotes{
  background: #F2F4FF;
  border-radius: 20px;
  padding: 5px;
  margin: 50px;
}

